on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: ${{ steps.release.outputs.pr }}
        with:
          ref: ${{ fromJson(steps.release.outputs.pr).headBranchName }}

      - name: Configure Git user
        if: ${{ steps.release.outputs.pr }}
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git --no-pager show --name-only

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        if: ${{ steps.release.outputs.pr }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        if: ${{ steps.release.outputs.pr }}
        with:
          node-version-file: package.json
          cache: "pnpm"
          cache-dependency-path: "./pnpm-lock.yaml"

      - name: Install dependencies
        if: ${{ steps.release.outputs.pr }}
        run: pnpm install --frozen-lockfile

      - name: Fix formatting
        if: ${{ steps.release.outputs.pr }}
        run: |
          pnpm biome check --write --unsafe package.json CHANGELOG.md
          git add package.json CHANGELOG.md
          git diff --staged --quiet || (git commit -m "chore: fix formatting" && git push)
